
  <%= render 'layouts/index_header' %>

<div class="row forecast-box">
  <div class="row" id="weather-box">
  </div>
  <br>
  <div class="row" id="location-form">
    <h5>
    <%= form_tag("/show") do %>
      <%= label_tag(:location, "Search Location:") %>
      <%= text_field_tag(:location) %>
      <%= submit_tag("Enter") %>
    <% end %>
    </h5>
  </div>
</div>
<h5 id='user-rec'> Lindsey Reccomends </h5>
<br>
<div class="row" id="outfit-finder">

  <!-- appended outfits -->
</div>


<div class="row">
</div>
<br>
<br>

</div>
</div>

<script>
$(document).ready(function() {
  $.ajax({
  url : "http://api.wunderground.com/api/ad4b2b48ae07c31f/geolookup/conditions/q/CA/San_Francisco.json",
  dataType : "jsonp",
  success : function(parsed_json) {
  var location = parsed_json['location']['city'];
  var temp_f = parsed_json['current_observation']['temp_f'];
  console.log("Current temperature in " + location + " is: " + temp_f);
  }
  });
});
</script>


